{% extends 'catalog/base.html' %}

{% block content %}

<h2>Блог</h2>

<a href="{% url 'blog:create' %}" class="btn btn-primary mb-3">
    Добавить статью
</a>

{% for object in object_list %}

<div class="card mb-3">

    <div class="card-body">

        <h4>{{ object.title }}</h4>

        <p>{{ object.content|truncatechars:100 }}</p>

        <a href="{% url 'blog:detail' object.pk %}" class="btn btn-outline-primary">
            Читать
        </a>

    </div>

</div>

{% endfor %}

{% endblock %}