{% extends "catalog/base.html" %}

{% block content %}

<div class="col-md-8 mx-auto">

    <div class="card">

        {% if product.image %}
            <img src="{{ product.image.url }}"
                 class="card-img-top">
        {% endif %}

        <div class="card-body">

            <h2>{{ product.name }}</h2>

            <p>
                {{ product.description }}
            </p>

            <p>
                <strong>Категория:</strong>
                <a href="{% url 'products_by_category' product.category.pk %}">
                    {{ product.category.name }}
                </a>
            </p>

            <h4>
                Цена: {{ product.purchase_price }}
            </h4>

            <div class="mt-3">

                {% if user == product.owner %}
                    <a href="{% url 'product_update' product.pk %}"
                       class="btn btn-warning">
                        Редактировать
                    </a>
                {% endif %}

                {% if user == product.owner or perms.catalog.delete_product %}
                    <a href="{% url 'product_delete' product.pk %}"
                       class="btn btn-danger">
                        Удалить
                    </a>
                {% endif %}

                {% if perms.catalog.can_unpublish_product and product.is_published %}
                    <form method="post"
                          action="{% url 'product_unpublish' product.pk %}"
                          class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-dark">
                            Снять с публикации
                        </button>
                    </form>
                {% endif %}

                <a href="{% url 'home' %}"
                   class="btn btn-secondary">
                    Назад
                </a>

            </div>

        </div>

    </div>

</div>

{% endblock %}